
<article class="about">
    <section class="about__section">
        <h2 class="section__aboutText">Om os</h2>
        <p class="section__aboutDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt delectus quibusdam nam reiciendis vitae eos dolorem molestias? Mollitia ipsa tempora repudiandae unde maiores soluta blanditiis, aliquid ad temporibus dolores a.</p>
    </section>
    <section class="about__section">
        <h2 class="section__aboutText">DYR & MENNESKER</h2>
        <p class="section__aboutDesc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum repellendus adipisci nihil ea perspiciatis, porro soluta? Recusandae aliquam magnam nostrum non beatae deleniti, obcaecati sunt deserunt consequuntur minima ipsum iusto? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, praesentium exercitationem libero voluptatum similique vitae cupiditate atque laborum aut nihil, odio unde laboriosam eveniet quae ducimus aspernatur ullam. Esse, corrupti.</p>
    </section>
    <section class="about__section">
        <h2 class="section__aboutText">MAD & FORBRUG</h2>
        <p class="section__aboutDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ipsam dolores molestias quaerat libero labore similique consectetur adipisci, repudiandae vel dolorum facilis quasi placeat amet corporis dolore facere impedit dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nulla id ratione aspernatur quo beatae quibusdam aut! Ex, ducimus. Veritatis, perspiciatis blanditiis similique accusamus dicta recusandae commodi. Quo, voluptatibus odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae perspiciatis sunt sint maiores, eligendi atque. Eaque, laboriosam sapiente odit, laudantium laborum doloremque quaerat quisquam cupiditate rem natus molestias quibusdam nam.</p>
    </section>
</article>