<section class="auth">
    <div class="auth__validation" action="/action_page.php" method="post">
        <input class="form__user" type="text" name="fname" placeholder="Brugernavn" required>
        <p class="form__user--error" style="opacity: 0"></p>
        <input class="form__pass" type="password" name="pass" placeholder="Adgangskode" required>
        <p class="form__pass--error" style="opacity: 0"></p>
        <input class="form__button" type="submit" value="Log ind">
    </div> 
</section>