<footer class="footer">

    <section class="footer__kontakt">
      <h2 class="kontakt__header">Kontakt</h2>
      <li class="kontakt__text">Tørnegård</li>
      <li class="kontakt__text">55. 26.th. 4020</li>
      <li class="kontakt__text">CVR: 234828</li>
      <li class="kontakt__text">Husk du kan få fradrag for donationer på 523.55kr</li>
    </section>

    <section class="footer__copyright">
      <p class="copyright__text">	&#169; 2020 - Foreningen for Dyrevelfærd</p>
    </section>

    <section class="footer__partner">
      <h2 class="partner__text">Partnere</h2>
      <li class="partner__link"><a>Amina</a></li>
      <li class="partner__link"><a>World Animal Protection</a></li>
      <li class="partner__link"><a>Fødevarestyrelsen</a></li>
      <li class="partner__link"><a>Faktalink</a></li>
    </section>
  
  </footer>