<footer class="footer">

    <section class="footer__kontakt">
      <h2>Kontakt</h2>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </section>

    <section class="footer__copyright">
      <p>	&#169; 2020 - Foreningen for Dyrevelfærd</p>
    </section>

    <section class="footer__partner">
      <h2>Partnere</h2>
      <li><a>Amina</a></li>
      <li><a>World Animal Protection</a></li>
      <li><a>Fødevarestyrelsen</a></li>
      <li><a>Faktalink</a></li>
    </section>
  
  </footer>