<section class="forening-banner">
    <div class="forening-banner__box">
        <h1 class="box__text">Forening for Dyrevelfærd</h1>
        <p class="box__desc">Vi specialisere os i dyrevelfærd</p>
    </div>
</section>