<nav class="topnav" id="myTopnav">
    <a href="#home" class="active">Hjem</a>
    <a href="#about">Om os</a>
    <a href="#contact">Bliv frivillig</a>
    <a href="#about">Dyr i nød</a>
    <a href="#about">Adopter et dyr</a>
    <a href="javascript:void(0);" class="icon" onclick="openNav()">
      <i class="fa fa-bars"></i>
    </a>
  </nav>