<nav class="topnav" id="myTopnav">
  <img src="">

  <li>
    <a href="#home" class="active">Hjem</a>
    <a href="#about">Om os</a>
    <a href="#join">Bliv frivillig</a>
    <a href="#needs">Dyr i nød</a>
    <a href="#adopt">Adopter et dyr</a>
    <a href="javascript:void(0);" class="icon" onclick="openNav()">
      <i class="fa fa-bars"></i>
    </a>
  </li>
  </nav>