<nav class="topnav">
  <section class="topnav__logo">
    <img class="logo__img" src="./assets/images/logo/logo.png" />
    <h2 class="logo__text">Foreningen for Dyrvelfærd</h2>
  </section>
  <label for="checkbox" id="checkboxLabel">Open</label>
  <input type="checkbox" id="checkbox" />
  <ul id="uList">
    <li><a href="#home">Hjem</a></li>
    <li><a href="#about">Om os</a></li>
    <li><a href="#join">Bliv frivillig</a></li>
    <li><a href="#needs">Dyr i nød</a></li>
    <li><a href="#adopt">Adopter et dyr</a></li>
  </ul>
</nav>
