<section class="nyhedsbrev">
    <div class="nyhedsbrev__box">
        <h1 class="box__textBrev">Tilmeld vores nyhedsbrev</h1>
        <p class="box__descBrev">Få inpiration og nyheder om dyrevelfærd og vores arbejde, direkte i din indbakke.</p>
    </div>
    <form class="nyhedsbrev__form">
        <input class="form__imputBrevEmail" placeholder="Email" value="">
        <input class="form__imputBrevName" placeholder="Navn" value="">
        <button class="form__buttonBrev" value="Tilmeld">Tilmeld</button>
    </form>

</section>