<section class="nyhedsbrev">
    <div class="nyhedsbrev__box">
        <h1 class="box__textBrev">Tilmeld vores nyhedsbrev</h1>
        <p class="box__descBrev">Få inpiration</p>
    </div>
    <form class="nyhedsbrev__form">
        <input placeholder="Email" value="">
        <input placeholder="Navn" value="">
        <button class="form__buttonBrev" value="Tilmeld"></button>
    </form>

</section>