<section class="single">
    <h2 class="single__name"></h2>
    <p class="single__desc"></p>
    <p class="single__age"></p>
    <img src="${petUrl}" class="single__img">
    <p class="single__created"></p>
    <input type="button" class="single__back" value="Tilbage">
</section>