<article class="vores">
    <div class="vores__box">
        <h1 class="box__titleVores">Dyr hos os</h1>
        <p class="box__countVores">5 dyr</p>
    </div>
    <section class="vores__animals">
        <img class="animals__img">
        <h3 class="animals__title">Jasper</h3>
        <p class="animals__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero non unde! Veniam nemo aliquam alias corporis laborum dolores repellendus id veritatis deleniti, dicta consequatur, voluptas, consequuntur molestiae sit quia?</p>
        <p class="animals__time">Været på internettet i 3 dage.</p>
    </section>
</article>