<article class="vores">
    <div class="vores__box">
        <h1 class="box__titleVores">Dyr hos os</h1>
        <p class="box__countVores">5 dyr</p>
    </div>
    <section class="vores__animals">
        <div class="animals__animal">
            <img class="animal__img" src="assets/images/animals/tristan.jpg">
            <section>
                <h3 class="animal__title">Jasper</h3>
                <p class="animal__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero non unde! Veniam nemo aliquam alias corporis laborum dolores repellendus id veritatis deleniti, dicta consequatur, voluptas, consequuntur molestiae sit quia?</p>
                <p class="animal__time">Været på internettet i 3 dage.</p>
            </section>
        </div>
        <div class="animals__animal">
            <img class="animal__img" src="assets/images/animals/tristan.jpg">
            <section>
                <h3 class="animal__title">Jasper</h3>
                <p class="animal__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero non unde! Veniam nemo aliquam alias corporis laborum dolores repellendus id veritatis deleniti, dicta consequatur, voluptas, consequuntur molestiae sit quia?</p>
                <p class="animal__time">Været på internettet i 3 dage.</p>
            </section>
        </div>
        <div class="animals__animal">
            <img class="animal__img" src="assets/images/animals/tristan.jpg">
            <section>
                <h3 class="animal__title">Jasper</h3>
                <p class="animal__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero non unde! Veniam nemo aliquam alias corporis laborum dolores repellendus id veritatis deleniti, dicta consequatur, voluptas, consequuntur molestiae sit quia?</p>
                <p class="animal__time">Været på internettet i 3 dage.</p>
            </section>
        </div>
        <div class="animals__animal">
            <img class="animal__img" src="assets/images/animals/tristan.jpg">
            <section>
                <h3 class="animal__title">Jasper</h3>
                <p class="animal__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam libero non unde! Veniam nemo aliquam alias corporis laborum dolores repellendus id veritatis deleniti, dicta consequatur, voluptas, consequuntur molestiae sit quia?</p>
                <p class="animal__time">Været på internettet i 3 dage.</p>
            </section>
        </div>
    </section>
</article>