<article class="vores">
    <div class="vores__box">
        <h1 class="box__titleVores">Dyr hos os</h1>
        <p class="box__countVores">5 dyr</p>
    </div>
    <section class="vores__animals">

    </section>
</article>