<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Eksamen RTS 2020</title>
	<link rel="stylesheet" href="/assets/css/dyr.css">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="topnav" id="myTopnav">
    <section class="topnav__logo" style="width: 315px;">
        <img class="logo__img" src="../assets/images/logo/logo.png">
        <h2 class="logo__text">Foreningen for Dyrvelfærd</h2>
    </section>
</nav>

<main>

    <% include ../partials/singleprodukt %>

</main>

<script src="/assets/javascript/singleprodukt.js"></script>
</body>
</html>