<% include ../partials/head %>
<% include ../partials/nav %>

<main>
    <% include ../partials/forening-banner %>
    <% include ../partials/about %>
    <% include ../partials/frivilig %>
    <% include ../partials/dyrinod-banner %>
    <% include ../partials/nyhedsbrev %>
    <% include ../partials/adopter-banner %>
    <% include ../partials/vores %>
    <% include ../partials/swiper %>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>