<% include ../partials/head %>
<% include ../partials/nav %>

<main>
    <% include ../partials/forening-banner %>
    <% include ../partials/about %>
    <% include ../partials/frivilig %>
    <% include ../partials/nod-banner %>
    <% include ../partials/nyhedsbrev %>
    <% include ../partials/adopter %>
    <% include ../partials/vores dyr %>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>