:root {
    // Navigation
    --nav_background_color: blue;
    --nav_font_family: 'Roboto', sans-serif;;
    --nav_font_size: 17px;
    --nav_font_color: white;
    --nav_fontActive_size: white;

    // Validation
    --validation_fontFamily: 'Roboto', sans-serif; ;
}