.footer {
    margin-top: 65px;
    width: 100vw;
    height: 250px;
    display: flex;
    background: #E2EDFF;
    justify-content: center;
    font-family: var(--nav_font_family);
    bottom: 0;
}

.footer__kontakt {
    margin-top: 30px;
    color: black;
    letter-spacing: -1px;
    width: 400px
}

.kontakt__text {
    color: black;
    letter-spacing: -1px;
    list-style-type: none;
}

.kontakt__header {
    text-transform: uppercase;
    letter-spacing: -1px;
}

.footer__copyright {
    width: 450px;
    margin: 0;
}

.copyright__text {
    letter-spacing: -1px;
    margin-top: 220px;
    padding: 0;
    margin-bottom: 0;
}

.footer__partner {
    margin-top: 30px;
    letter-spacing: -1px;
    width: 150px
}

.partner__text {
    letter-spacing: -1px;
    text-transform: uppercase;
}

.partner__link {
    color: rgb(0, 140, 255);
    letter-spacing: -1px;
    list-style-type: none;
}

@media only screen and (max-width: 768px) {

    .footer {
        margin-top: 65px;
        width: 100vw;
        font-size: 0.85rem;
    }   

    
    .footer__kontakt {
        margin-left: 10px;
    }

    .footer__partner {
        margin-top: 33px;
        margin-right: 12px;
    }
    .copyright__text {
        letter-spacing: -1px;
        margin-left: -35px;
        margin-top: 200px;
        width: 200px;
        position: absolute;
    }
}