.frivilig {
    width: 100vw;
    background: #E2EDFF;
    font-family: var(--nav_font_family);
    scroll-margin-top: 55px;

}
.frivilig__title {
    color: rgb(0, 102, 255);
    letter-spacing: -1px;
    text-align: center;
    padding-top: 20px;
    margin-left: -865px;
}

.frivilig__section {
    font-family: var(--nav_font_family);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 50px;
    flex-wrap: wrap;
    padding:5px
}

.frivilig__box {
    margin: 18px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 300px;
    background:#F7F7F7;
    font-family: var(--nav_font_family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box__textFrivilig {
    top: 0;
    border: 1px solid rgb(201, 201, 201);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: black;
    min-height: 35px;
    padding-top: 16px;
    height: 25px;
    width: 100%;
}


.textFrivilig__span {
    margin-left: 15px;
    text-transform: uppercase;
}

.box__containerFrivilig {
    border: 1px solid rgb(231, 231, 231);
    width: 100%;
    background: white;
    border-radius: 0px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container__imgFrivilig {
    width: 90%;
    border-radius: 5px;
    margin-top: 15px;
    max-height: 150px;
    min-height: 150px;
}

.container__descFrivilig {
    position: absolute;
    width: 90%;
    top: 170px;
    line-height: 13.5px;
}

.box__bottomFrivilig {
    bottom: 0;
    border: 1px solid rgb(201, 201, 201);
    color: rgba(0, 0, 0, 0.70);
    width: 100%;
    background-color: #F7F7F7;
    min-height: 30px;
    line-height: 13.5px;
    letter-spacing: -1px;
    line-break: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottomFrivilig__span {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .container__descFrivilig {
        top: 170px;
        line-height: 15px;
        letter-spacing: -0.5px;
    }
}