.frivilig {
    width: 100vw;
    background: #E2EDFF;
    font-family: var(--nav_font_family);

}
.frivilig__title {
    color: rgb(0, 102, 255);
    letter-spacing: -1px;
}

.frivilig__section {
    font-family: var(--nav_font_family);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.frivilig__box {
    width: 300px;
    background:#F7F7F7;
    font-family: var(--nav_font_family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box__textFrivilig {
    color: black;
    min-height: 40px;
    align-items: center;
    height: 40px;
}
.box__container {
    width: 100%;
    background: white;
    border-radius: 0px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container__imgFrivilig {
    width: 80%;
    border-radius: 5px;
}

.box__bottomFrivilig {
    width: 100%;
    background-color: #F7F7F7;
    min-height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}