.frivilig {
    width: 100vw;
    background: #E2EDFF;
    font-family: var(--nav_font_family);

}
.frivilig__title {
    color: rgb(0, 102, 255);
    letter-spacing: -1px;
    
}

.frivilig__section {
    font-family: var(--nav_font_family);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.frivilig__box {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 300px;
    background:#F7F7F7;
    font-family: var(--nav_font_family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box__textFrivilig {
    border: 1px solid rgb(201, 201, 201);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: black;
    min-height: 35px;
    padding-top: 16px;
    height: 25px;
    width: 100%;
}


.textFrivilig__span {
    margin-left: 15px;
    text-transform: uppercase;
}

.box__container {
    border: 1px solid rgb(231, 231, 231);
    width: 100%;
    background: white;
    border-radius: 0px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container__imgFrivilig {
    width: 90%;
    border-radius: 5px;
    margin-top: 15px;
}

.container__descFrivilig {
    width: 90%;
    margin-bottom: 200px;
    line-height: 13.5px;
    letter-spacing: -1px;

}

.box__bottomFrivilig {
    border: 1px solid rgb(201, 201, 201);
    color: rgba(0, 0, 0, 0.70);
    width: 100%;
    background-color: #F7F7F7;
    min-height: 30px;
    line-height: 13.5px;
    letter-spacing: -1px;
    line-break: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottomFrivilig__span {
    margin-left: 15px;
    height: 30px;
}