.single {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #E2EDFF;
    font-family: var(--nav_font_family);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.single__name {
    color: black;
}

.single__desc {
    color: black;
    width: 500px;
    font-size: 1rem;
}

.single__created {
    color: black;
    opacity: 0.5;
    font-size: 1rem;
}

.single__img {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
}

.single__back {
    margin-top: 60px;
    width: 70px;
    border-radius: 5px;
    border: 1px solid black;
}

@media only screen and (max-width: 768px) {
    .single__desc {
        width: 80%;
        font-size: 0.9rem;
    }

    
    .single__img {
        width: 80%;
    }

    .single__created {
        width: 80%;
        font-size: 0.8rem;
    }
}