.vores {
    width: 100vw;
    height: auto;
    font-family: var(--nav_font_family);
}

.vores__box {

}

.box__titleVores {
    color: rgb(0, 102, 255);
    letter-spacing: -1px;
    margin: 0;
}

.box__countVores {
    font-size: 0.95rem;
    color: black;
    letter-spacing: -1px;
    margin: 0;
}

.vores__animals {
    width: 100vw;
    height: 300px;  
    display: grid;
    grid-row: auto;
    grid-template-columns: 400px 400px;
    font-family: var(--nav_font_family);
}

.animals__animal {

}


.animal__img {

}

.animal__title {

}
.animal__desc {

}
.animal__time {

}